{% extends "layout.njk" %}

{% block head %}
    <title>Sobre</title>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <img src="{{about.avatar_url}}" alt="Logo de {{about.name}}">

        <h1>{{about.name}}</h1>
        <p>{{about.discription}}</p>

        <div id="list">
            <p>{{about.list.name}}</p>

            <ul>
                {% for object in about.list.technologies %}
                    <li>{{object.name}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <footer>
        <div id="links-footer" class="links">
            {% for link in about.links%}
                <a href="{{link.url}}">{{link.name}}</a>
            {% endfor %}
        </div>
    </footer>
{% endblock %}