{% extends "layout.njk" %}

{% block head %}
    <title>Sobre</title>
{% endblock %}

{% block content %}
    <div id="wrapper">
        <img src="https://cdn-images-1.medium.com/max/1200/1*TkXVfLTwsHdwpUEjGzdi9w.jpeg" alt="Logo">

        <h1>Rocketseat</h1>
        <p>Nossa missão é capacitar pessoas que buscam se profissionalizar na programação independente do seu momento ou nível de conhecimento.</p>

        <div id="list">
            <p>Principais Tecnologias</p>

            <ul>
                <li>HMTL</li>
                <li>CSS</li>
                <li>Javascript</li>
                <li>Node.js</li>
            </ul>
        </div>
    </div>

    <footer>
        <div id="links-footer" class="links">
            <a href="">Facebook</a>
            <a href="">Instagram</a>
            <a href="">Github</a>
        </div>
    </footer>
{% endblock %}