{% extends "layout.njk" %}

{% block head %}
    <title>Artigo</title>
{% endblock %}

{% block content %}
    <section class="article">
            <iframe src="https://blog.rocketseat.com.br/{{item.id}}" frameborder="0"></iframe>
    </section>
{% endblock %}